<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>task0003</title>
        <link rel="stylesheet" type="text/css" href="../static/css/task0003.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome-4.7.0/css/font-awesome.css"/>
    </head>
    <body>
        <div class="nav">
            <p>GTD Tools</p>
        </div>
        <div class="container">
            <div class="category">
                <p class="header">所有任务</p>
                <p class="header">分类列表</p>
                <ul id="class-list" class="class-list">
                {% for top_item in top_class_list %}
                    <li class="top-class" pk="{{ top_item.pk }}">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <span>{{ top_item.name }}</span>
                        <i class="fa fa-times delete hide" aria-hidden="true"></i>
                    </li>
                    {% if top_item.secondclass_set %}
                    <ul class="second-class-wrap">
                    {% for sec_item in top_item.secondclass_set.all %}
                        <li class="second-class" pk="{{ sec_item.pk }}">
                            <i class="fa fa fa-file-o" aria-hidden="true"></i>
                            <span>{{ sec_item.name }}</span>
                            <i class="fa fa-times dlete hide" aria-hidden="true"></i>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
                    <li id="default" class="top-class" pk="1">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <span>默认分类</span>
                    </li>
                </ul>
            </div>
            <div class="handle">
                <ul class="status">
                    <li id="all" class="select">所有</li>
                    <li id="todo">未完成</li>
                    <li id="finish">已完成</li>
                </ul>
                <div class="item">
                    <ul id="tasks">
                        {% for date, tasks in default_task.items %}
                        <li class="date">{{ date }}</li>
                            {% for caption, id, status in tasks %}
                                {% if status %}
                                    <li class="title" pk="{{ id }}" style="color: #32cd32">
                                {% else %}
                                    <li class="title" pk="{{ id }}">
                                {% endif %}
                            {{ caption }}
                            <i class="fa fa-times hide delete" aria-hidden="true"></i>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="caption"></div>
                <div class="modify">
                    <i id="edit" class="fa fa-pencil-square-o" aria-hidden="true"></i>   
                    <i id="done" class="fa fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="date"></div>
                <div class="something"></div>
            </div>            
            <div class="footer-container">
                <div class="footer">
                    <i id="add-class" class="fa fa-plus" aria-hidden="true"></i>
                    <span>新建分类</span>
                </div>
                <div class="footer">
                    <i id="add-task" class="fa fa-plus" aria-hidden="true"></i>
                    <span>新增任务</span>
                </div>
                <div class="footer-confirm hide">
                    <span id="edit-confirm">确认</span>
                    <span id="edit-cancel">取消</span>
                </div>                
            </div>  
        </div>
        <script src="../static/js/jquery-3.2.1.js"></script>
        <script src="../static/js/task0003.js"></script>
    </body>
</html>
