* {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: SimSun;
    min-width: 980px;
}

/*navigator*/
.nav {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(82, 42, 92);
}

.nav-wrap {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 75px;
}

#logo {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: white;
}

#menu {
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
}

#menu li {
    display: inline;
    margin-left: 2em;
    font-size: 14px;
    color: white;
}

@media screen and (min-width:980px) {
    #github img {
        position: absolute;
        right: 10px;
        bottom: 0;
    }
}

@media screen and (max-width:979px) {
    #github img {
        display: none;
    }
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

/*introduction bacckground*/
#intro-bg {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 360px;
    color: white;
    text-indent: 2em;
    padding: 10px 10px 30px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, 
                rgba(255,255,255,0.15) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */ 
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0)), color-stop(0.75, rgba(255,255,255,0.15))); /* webkit */
    -ms-filter: alpha(opacity=30 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=200) 
                progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,endcolorstr=white, 
                gradientType=1);/* IE8 */
}

#intro-bg h2 {
    font-weight: normal;
    text-align: right;
    font-size: 18px;
    margin-bottom: 5px;
}

#intro-bg p {
    line-height: 1.5;
    font-size: 14px;
}

.content {
    width: 990px;
    margin: 10px auto 0;
    overflow: hidden;
}

.module {
    float: left;
    width: 320px;
    margin-left: 10px;
    background-color: white;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
}

.module img {
    margin: 10px;
}

.module p {
    margin: 15px 30px 25px;
    font-size: 12px;
    line-height: 170%; 
}

/*introduce*/
.intro {
    margin-top: 110px;
    background-color: white;
    position: relative;
    width: 100%;
    height: 520px;
}

#avator {
    margin-left: 50%;
    position: absolute;
    top: -50px;
    left: -80px;
    width: 160px;
    height: 160px;
}

.intro h2 {
    padding-top: 160px;
    text-align: center;
    font-size: 20px;
    font-family: "Century Gothic";
    font-weight: normal;
    color: black;
}

.intro p {
    text-indent: 2em;
    font-size: 14px;
    color: black;
    width: 600px;
    margin: 30px auto;
    line-height: 1.6;
}

/*footer toper*/
.footer {
    background-color: black;
    width: 100%;
    font-size: 12px;
    color: white;
}

.footer .top-footer {
    height: 36px;
    border-bottom: #333333 solid 1px;
}

.footer .top-footer ul {
    list-style: none;
    text-align: center;
    padding: 12px;
}

.footer .top-footer ul li {
    font-size: 14px; 
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
}

/*footer links*/
.footer .links {
    padding-top: 50px;
    width: 980px;
    margin: 0 auto; 
}

.footer .links ul {
    list-style: none;
    vertical-align: top;
    display: inline-block;
    margin-right: 130px;
}

.footer .links .link-head {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: bold;
}

.footer .links li {
    margin-bottom: 8px;
}

.footer .links a {
    font-size: 12px;
    color: white;
}

.footer .links a:hover {
    text-decoration: underline;
}

/*copyright*/
.copy-right {
    margin-top: 60px;
    text-align: center;
}

.copy-right img {
    margin-top: 20px;
}

.content-wrap {
    width: 980px;
    margin: 30px auto;
    overflow: hidden;
}

/*blog*/
.blog-block {
    width: 710px;
    float: left;
}

.sidebar {
    width: 260px;
    float: right;
    margin-left: 10px;
}

.blog {
    background-color: white;
    position: relative;
    margin-bottom: 10px;
    padding: 20px 10px 50px;
    font-size: 12px;
}

.blog h2 {
    font-size: 16px;
    color: rgb(82, 42, 92);
    font-weight: bold;
    margin-bottom:0.5em; 
}

.blog h4 {
    color: rgb(102, 102, 102);
}

.blog p {
    line-height: 1.6;
    text-indent: 2em;
    margin-top: 1em; 
}

.blog .blog-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.blog-date, 
.blog-tag {
    position: absolute;
    left: -51px;
    width: 50px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 2.2;
    color: white;
}

.blog-date {
    background-color: rgb(82, 42, 92);
    top: 20px;
}

.blog-tag {
    top: 60px;
    background-color: rgb(166, 96 ,183);
}

/*pagination*/
.pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 200px;  
}

.pagination a {
    background-color: white;
    display: inline-block;
    padding: 15px;
    color: black;
    font-style: bold;
    line-height: 0.1;
}

a.current-page {
    background-color: rgb(166, 96 ,183);
    color: white;
}

/*search*/
.search-box-widget {
    height: 40px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.search-box {
    width: 260px;
    height: 40px;
}

#sb_form_q {
    float: left;
    width: 169px;
    height: 40px;
    border: 1px solid #dddddd;
    border-right: none;
    text-indent: 3em;
    background-image: url(../img/search.jpg);
    background-repeat: no-repeat;
    display:block;
    color: #dddddd;
    line-height:1em;
}

#sb_form_go {
    float: left;
    width: 48px;
    height: 40px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#sb_form_q:focus {
    outline: none;
    border: 1px solid black;
    color: black;
}

#sb_form_go:focus {
    outline: none;
}

#sb_form_q:focus + #sb_form_go {
    border: 1px solid black;
    border-left: none;
    background-color: #999999;
}

/* catalog */
.catalog {
    list-style-type: none;
    margin-bottom: 10px; 
}

.catalog a {
    display: block;
    height: 50px;
    border-left: 4px solid #dfc6e6;
    border-bottom: 1px solid #dddddd;
    background-color: white;
    text-indent: 2em;
    font-size: 12px;
    line-height: 48px;
    color: #666666;
}

.catalog a:hover {
    border-left: 4px solid #522a5c;
}

/*calender*/
.calender-widget {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px; 
}

#calender {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    color: #999999;
}

#calender a {
    color: #773c88;
    font-weight: bold;
}

#calender .today {
    color: white;
    display: block;
    background-color: #773c88;
}

#calender caption {
    text-align: justify;
    height: 1.5em;
    font-weight: bold;
    overflow: hidden;
}

#calender caption:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#calender td,th {
    border-bottom: 1px solid #eeeeee;
    height: 2em;
    font-weight: normal;
}

/*tag-cloud*/
.tagcloud-widget {
    width: 220px;
    background-color: white;
    padding: 20px;
}

.tagcloud-header {
    color: #666666;
    margin-bottom: 14px;
}

.tagcloud-widget p {
    color: #773c88;
    line-height: 2em;
}


/*gallery*/
.gallery-wrap {
    width: 980px;
    margin: 30px auto;
    margin-top: 50px;
    overflow: hidden;
}

.gallery-wrap .sidebar {
    margin-top: 55px;
}

#gallery {
    width: 710px;
    float: left;
}

#gallery .tag {
    height: 54px;
    list-style-type: none;
}

#gallery .tag li {
    float: left;
    border-left: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    padding: 15px 20px 20px;
    height: 15px;
    font-size: 12px;
    background-color: white;
}

.tag #all {
    border-top: 4px solid #dfc6e6;
}

.tag #js {
    border-top: 4px solid #dfc6e6;
}

.tag #ui{
    border-top: 4px solid rgb(210, 166, 255);
}

.tag #frame {
    border-top: 4px solid rgb(255, 169, 140);
}

.tag #app {
    border-top: 4px solid rgb(255, 255, 136);
}

.tag #all:hover {
    border-top: 4px solid rgb(82, 42, 92);
    border-bottom: none;
}

.tag #js:hover {
    border-top: 4px solid rgb(82, 42, 92);
    border-bottom: none;
}

.tag #ui:hover{
    border-top: 4px solid rgb(89, 0, 187);  
    border-bottom: none;
}

.tag #frame:hover {
    border-top: 4px solid rgb(140, 35, 0);
    border-bottom: none;
}

.tag #app:hover {
    border-top: 4px solid rgb(217, 163, 0);
    border-bottom: none;
}

.gallery-fall {
    clear: both;
    background-color: white;
    height: 100px;
    overflow: hidden;
}

.gallery-artical {
    margin: 20px;
}